    <h2>Persons in Database:</h2>

    <table style="width:100%">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Id</th>
        </tr>
        @foreach (api.Model.Person item in ViewData["PersonData"] as IEnumerable<api.Model.Person>)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.PersonId</td>
            </tr>
        }
